.a {
  display: block;
  color: white;
  background-color: red;
}
.b {
  display: inline-block;
  width: 200px;
  color: white;
  background-color: green;
}
.c {
  display: none;
  width: 200px;
  color: white;
  background-color: yellow;
}
.d {
  display: inline;
  width: 200px;
  color: white;
  background-color: blue;
}
